* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  margin: 0 auto;
  height: 780px;
  max-width: 1200px;
  position: relative;
  align-items: center;
}
.heading {
  max-width: 650px;
  margin-top: 70px;
}
.heading h1 {
  font-size: 42px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
.padding {
  padding-bottom: 30px;
}
.small {
  line-height: 3.3rem;
  font-size: 38px !important;
}
.heading button {
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 23px;
  padding: 15px 38px;
  border-radius: 25px;
  background-color: #31c3f1;
}
.phone {
  z-index: 1;
  top: 115px;
  right: 75px;
  width: 370px;
  position: absolute;
  border-radius: 55px;
}
.second-container {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
}
.image {
  width: 100%;
}
.flex-container {
  top: 0;
  left: 0;
  right: 0;
  gap: 40px;
  width: 100%;
  height: 680px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  flex-wrap: nowrap;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
}

.flex-items:nth-child(1) {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  display: block;
  flex-basis: auto;
  align-self: auto;
}

.flex-items:nth-child(2) {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  display: block;
  flex-basis: auto;
  align-self: auto;
}

.flex-items:nth-child(3) {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  display: block;
  flex-basis: auto;
  align-self: auto;
}
.percent {
  font-size: 55px;
  color: #1cddc8;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
}
.purchase {
  color: white;
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
}
.percentage {
  font-size: 19px;
  font-weight: 300;
  color: #b6e2e4;
  line-height: 1.8rem;
  font-family: "Raleway", sans-serif;
}
.percentages {
  padding: 0 20px;
}
.third-container {
  width: 100%;
  height: 700px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.our-Mission {
  font-size: 45px;
  font-weight: 300;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.spreads {
  margin: 0 auto;
  max-width: 700px;
}
.spreads p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8rem;
  padding-bottom: 20px;
  color: rgb(109, 109, 109);
  font-family: "Raleway", sans-serif;
}
.third-container button {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 40px;
  border-radius: 25px;
  background-color: #31c3f1;
}
.fourth-container {
  width: 100%;
  height: 1100px;
  overflow: hidden;
  position: relative;
}
.second-image {
  width: 100%;
}
.last-data {
  left: 0;
  right: 0;
  top: 260px;
  width: 100%;
  height: 680px;
  margin: 0 auto;
  max-width: 1180px;
  position: absolute;
  text-align: center;
}
.respon {
  color: white;
  font-size: 42px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}
.images-paragraph {
  margin: 0 auto;
  max-width: 750px;
  padding-top: 20px;
}
.images-paragraph p {
  font-size: 18px;
  font-weight: 500;
  color: #d6e6e6;
  line-height: 1.8rem;
  font-family: "Raleway", sans-serif;
}
.two-divs {
  display: flex;
  margin: 45px 0;
  justify-content: space-between;
}
.div-1 {
  width: 565px;
  height: 320px;
  border: 3px dashed transparent;
  border-image: repeating-linear-gradient(
      124deg,
      #d6e6e6 0 8px,
      transparent 12px 18px
    )
    1;

  display: flex;
  color: white;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.text-decora {
  text-decoration: underline;
}
