* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
header {
  background-color: white;
}
.headers {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.headers h1 {
  font-size: 60px;
  font-family: "Caveat", cursive;
  background: linear-gradient(to right, #3d5f27, #00ff3f);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.headers button {
  height: fit-content;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.heading {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}
.heading h1 {
  font-family: sans-serif;
}
.table-container {
  max-width: 1240px;
  margin: 0 auto;
  font-family: sans-serif;
}
.table-style {
  width: 100%;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-collapse: collapse;
}
.table-style thead tr th {
  border: 1px solid #cfcfcf;
  padding: 20px 30px;
}
.table-style tbody tr td {
  border: 1px solid #cfcfcf;
  padding: 18px 5px;
}
.ccna{
    width: 20%;
    font-weight: 600;
}
.weight{
    font-weight: 600;
}
.footers p{
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    background-color: white;
}