.bg-color {
  background-color: #1d3557;
}
.border-design {
  border-bottom: 1px solid #909294;
}
.widthini {
  width: 49%;
}
.multiple-buttons {
  border: 1px solid #1d3557;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}
.multiple-buttons button {
  width: 250px;
}
.origional-statement {
  width: 49%;
  margin-top: 80px !important;
}
.origional-statement div {
  text-align: center;
  width: 100%;
  padding: 5px 30px !important;
  height: auto;
  border-radius: 5px;
  color: #1d3557;
  border: 1px solid #1d3557;
  background-color: transparent;
}
#datas p {
  margin-bottom: 2px;
}
.origional-statement-1 {
  width: 49%;
  margin-top: 80px;
}
.origional-statement-1 div {
  width: 100%;
  height: 176px;
  padding: 21px 30px;
  text-align: start;
  border-radius: 5px;
  color: #1d3557;
  border: 1px solid #1d3557;
  background-color: transparent;
}
.background-color {
  min-height: 89.5vh;
  background-color: #f1faee;
}
.backg-oung {
  background-color: #1d3557;
}
.widthininh {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}
.input-design {
    display: flex;
    align-items: center;
}
.input-design input{
    width: 100%;
    padding: 10px;
    border-right: none;
    border-top-left-radius: 5px;
    background-color: transparent;
    border: 1px solid #909294a9;
    border-bottom-left-radius: 5px;
}
.input-design input:focus{
    outline: none;
}
.border-radius {
    padding: 10px !important;
    border-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
#datas {
    background-color: #1d3557 !important;
    color: #fff !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 24px 30px !important;
}
#datas p{
    margin: 0 10px;
}
.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 769px) {
    .origional-statement, .origional-statement-1, #stop-margin{
        width: 100%;
        margin-top: 25px !important;
    }
    .widthininh {
        flex-direction: column;
    }
    .widthini {
        width: 100%;
    }
    #stop-bottom{
        margin-bottom: 15px !important;
    }
}